body {
    margin: 0;
    background-color: black;
    overflow: hidden;
}

/*
#nextButton {
  color: white;
  position: fixed;
}

.circle {
  position: fixed;
  bottom: 5vmin;
  right: 5vmin;
  border: 5px solid white;
  border-radius: 50%;
  width: 10vmin;
  height: 10vmin;
  opacity: .5;
  background-color: transparent;
}
